/* Για τη σελίδα διαχείρησης */
* {
    box-sizing: border-box;
}
.admin-page {
    background-color: white;
    padding: 1% 10% 1% 10%;
}

.page-title {
    background-color: white;
    height: 160px;
}

.page-title h2 {
    color: #1f5362;
}

.table_button {
    float: right;
    padding: 6px 10px;
    margin: 4px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.cyan {
    background-color: #1f5362;
}

.table_button:active {
    transform: translateY(4px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1687a7;
    color: white;
}
.keno {
    width: 40px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.admin-page .table_page {
    text-align: center;
    padding: 6px;
}

@media screen and (max-width: 800px) {
    .admin-page {
        background-color: white;
        padding: 1% 2% 1% 2%;
    }
    td, th {
        font-size: 14px;
        padding: 4px;
    }
}

/* Για την popup form */
.form-popup {
    overflow:auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 96%;
    border: 3px solid #f1f1f1;
    z-index: 99999999;
}

.form-container {
    width: 100%;
    padding: 6px;
    background-color: white;
}

.form-container p {
    float: left;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
}
.form-container .input_image {
    width: 66%;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    height:100px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    resize: vertical;
}

.form-container input[type=text], input[type=password], input[type=date], input[type=url],
input[type=email], input[type=file], input[type=number], textarea[name=subject] {
    width: 100%;
    padding: 10px;
    margin: 2px 0 6px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus,
input[type=email]:focus, input[type=file]:focus, input[type=number]:focus, textarea[name=subject]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.form-container .btn_cancel {
    background-color: red;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 2px;
    right: 2px;
    opacity: 0.8;
    margin: 4px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

span {
    color: red;
}

@media screen and (max-width: 800px) {
    .form-popup {
        width: 90%;
    }
    .form-container p {
        width: 50%;
    }
    .form-container .input_image {
        width: 100%;
    }
}
/*--- Για τη σελίδα διαχείρησης ---*/
#navbar_admin {
    width: 48%;
    margin: auto;
    height: auto;
}


/*
*, :before, :after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

ul {
    outline: 1px solid #aaa;
    /*list-style-type: none;*/
    display: table;
    width: 50px;
    padding: 10px 3px 3px;
    text-align: center;
    list-style: inside;
}

ul > li {
    display: table-cell;
    vertical-align: bottom;
}

ul > li:before {
    display: inline-block;
    width: 100%;
    padding: 0 5%;
    text-align: center;
    list-style: inside;

}

.my_table{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* to pio kalo apo ta katw
ul {
    width: 100px;
    position: relative;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul:before, ul:after {
    text-align: center;
    display: table;
    border: 2px solid #1687a7;
    border-bottom: 0;
    width: 48%;
}

li {
    text-align: right;
    width: 48%;
    float: left;
    border: 2px solid #1687a7;
    margin-bottom: -1px;
}

li:nth-child(even) {
    margin-left: -1px;
}
*/