/* Για τις κατηγορίες */
.category_content h2 {
    color: #1f5362;
    font-size: 30px;
    margin-top: 0;
    text-align: left;
}

.category_content {
    padding: 2% 16% 2% 16%;
    font-family: "Segoe UI";
    text-align: justify;
    font-size: 16px;
    background-color: #d4fafa;
}

.category_content img {
    float: right;
    margin: 10px 20px 10px 20px;
    width: 40%;
}

@media screen and (max-width: 800px) {
    .category_content img {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2px 2px 2px 2px;
    }
}

/*--- Για τις κατηγορίες ---*/