/* Για τη σελίδα διαχείρησης */
* {
    box-sizing: border-box;
}
.admin-page {
    background-color: white;
    padding: 1% 10% 1% 10%;
}

.page-title {
    background-color: white;
    height: 160px;
}

.page-title h2 {
    color: #1f5362;
}

.table_button {
    float: right;
    padding: 6px 10px;
    margin: 4px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.table_button:active {
    transform: translateY(4px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1687a7;
    color: white;
}
.keno {
    width: 40px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.admin-page .table_page {
    text-align: center;
    padding: 6px;
}

@media screen and (max-width: 800px) {
    .admin-page {
        background-color: white;
        padding: 1% 2% 1% 2%;
    }
    td, th {
        font-size: 14px;
        padding: 4px;
    }
}

/* Για την popup form */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 3px solid #f1f1f1;
    z-index: 99999999;
}

/* Add styles to the form container */
.form-container {
    max-width: 100%;
    padding: 6px;
    background-color: white;
}

.form-container p {
    float: left;
    width: 33%;
}

/* Full-width input fields */
.form-container input[type=text], input[type=password], input[type=date],
 input[type=url], input[type=email], input[type=file], textarea[name=subject] {
    /* width: 100%; */
    padding: 10px;
    margin: 2px 0 6px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, input[type=password]:focus, input[type=date]:focus,
 input[type=url]:focus, input[type=email]:focus, input[type=file]:focus, textarea[name=subject]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .btn_cancel {
    background-color: red;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.8;
    margin: 4px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/*--- Για τη σελίδα διαχείρησης ---*/