* {
    box-sizing: border-box;
}

.page_user{
    padding: 1% 10% 1% 10%;
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_img {
    float: right;
    display: block;
}

.image_profile {
    max-width: 500px;
    max-height: 400px;
}

@media screen and (max-width: 500px) {
    .image_profile {
        max-width: 350px;
        max-height: 300px;
    }
}
@media screen and (max-width: 350px) {
    .image_profile {
        max-width: 200px;
        max-height: 200px;
    }
}

.special{
    color: #276678;
    font-size: 30px;
}

.mydata {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Πίνακας */
.table_button {
    float: right;
    padding: 6px 10px;
    margin: 4px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.table_button:active {
    transform: translateY(4px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1687a7;
    color: white;
}
.keno {
    width: 40px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.page_user .table_page {
    text-align: center;
    padding: 6px;
}
/*--- Πίνακας ---*/

@media screen and (max-width: 800px) {
    .page_user {
        background-color: white;
        padding: 1% 2% 1% 2%;
    }
    td, th {
        font-size: 14px;
        padding: 4px;
    }
}

@media screen and (max-width: 800px) {
    .profile_img{
        width: 100%;
        padding-bottom: 20px;
    }
    .centered {
        top: 87%;
    }
}

/* Για την popup form */
.form-popup {
    overflow:auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 96%;
    border: 3px solid #f1f1f1;
    z-index: 99999999;
}

.form-container {
    width: 100%;
    padding: 6px;
    background-color: white;
}

.form-container p {
    float: left;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
}
.form-container .input_image {
    width: 66%;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    height:100px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    resize: vertical;
}

.form-container input[type=text], input[type=password], input[type=date], input[type=url],
input[type=email], input[type=file], input[type=number], textarea[name=subject] {
    width: 100%;
    padding: 10px;
    margin: 2px 0 6px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus,
input[type=email]:focus, input[type=file]:focus, input[type=number]:focus, textarea[name=subject]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.form-container .btn_cancel {
    background-color: red;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 2px;
    right: 2px;
    opacity: 0.8;
    margin: 4px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

span {
    color: red;
}

@media screen and (max-width: 800px) {
    .form-popup {
        width: 90%;
    }
    .form-container p {
        width: 50%;
    }
    .form-container .input_image {
        width: 100%;
    }
}
/*--- Για την popup form ---*/

/**/
ul {
    outline: 1px solid #aaa;
//list-style-type: none;
    display: table;
    width: 50px;
    padding: 10px 3px 3px;
    text-align: center;
    list-style: inside;
}

ul > li {
    display: table-cell;
    vertical-align: bottom;
}

ul > li:before {
    display: inline-block;
    width: 100%;
    padding: 0 5%;
    text-align: center;
    list-style: inside;

}

/* sort and search */
.sort_dropdown {
    float: right;
    overflow: hidden;
}

.sort_dropdown .sort_dropbtn {
    float: right;
    padding: 6px 10px;
    margin: 4px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
    color: white;
}


.sort_dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 #4CAF50;
    z-index: 1;
}

.sort_dropdown-content a {
    float: none;
    color: #4CAF50;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sort_dropdown-content a:hover {
    background-color: #4CAF50;
    color: white;
}

.sort_dropdown:hover .sort_dropdown-content {
    display: block;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    float: right;
    padding: 6px 10px;
    margin: 4px;
    border-radius: 6px;
    text-align: center;

}
.form-button[type=submit]{
    background-color: #4CAF50;
}