/* Για το Contact */
.contact {
    padding: 2% 16% 2% 16%;
    font-family: "Segoe UI";
    font-size: 16px;
    background-color: white;
}

.contact h2 {
    color: #1f5362;
    font-size: 30px;
    margin-top: 0;
    text-align: left;
}

.contact * {
    box-sizing: border-box;
}

.contact input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #1687a7;
    color: #1f5362;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact input[type=text], select {
    width: 40%;
}

.contact textarea {
    width: 100%;
}

.contact input[type=submit] {
    background-color: #1f5362;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contact input[type=submit]:hover {
    background-color: #1687a7;
}

@media screen and (max-width: 800px) {
    .contact input[type=text], select {
        width: 100%;
    }
    .contact {
        padding: 2% 6% 2% 6%;
    }
}
/*--- Για το Contact ---*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Για την είσοδο */
.SignIn {
    padding: 2% 2% 2% 2%;
    font-family: "Segoe UI";
    text-align: justify;
    font-size: 16px;
    background-color: white;
}
.SignIn .login-img {
    background-image: url("images/5.Contact-Login-Register/sup-1838969_1920.jpg");
    min-height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.SignIn .container_page_login {
    position: absolute;
    top: 5%;
    right: 0px;
    margin: 20px;
    height: 600px;
    max-width: 370px;
    padding: 16px;
    background-color: white;
    border:1px solid #ccc;
    border-radius:10px;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}
.SignIn .login{
    text-align: center;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
    font-size: 60px;
}
.SignIn .email{
    text-align: left;
    position: absolute;
    top: 22.5%;
    left: 30px;
    font-size: 25px;
}
.SignIn .pass{
    text-align: left;
    position: absolute;
    top: 42%;
    left: 30px;
    font-size: 25px;
}

.SignIn input[type=text] {
    text-align: left;
    position: relative;
    top: -90px;
    left: 600px;
    width: 100000px;
    padding: 20px 30px;
    margin: 500px  22px ;
    border: none;
    color: black;
    background: #F6F5F5;
}

.SignIn input[type=password]{
    position: relative;
    top: -210px;
    left: 245px;
    width: 100000px;
    padding: 20px 30px;
    margin: 500px 0 22px 0;
    border: none;
    color: black;
    background: #F6F5F5;
}

.SignIn input[type=text]:focus {
    background-color: #ddd;
    outline: none
}
.SignIn input[type=password]:focus{
    background-color: #ddd;
    outline: none
}
.SignIn .btn_login{
    position: relative;
    top: 120px;
    left: -85px;
    background-color: #1687a7;
    color: white;
    padding: 20px 140px;
    border-radius: 12px;
}
.SignIn .btn_login:hover{
    background-color: #276678;
}

.SignIn .btn_SignUp{
    top: 200px;
    left: -430px;
    position: relative;
    white-space: nowrap;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: 0px solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.SignIn .btn_SignUp:hover{
    outline: none;
    color: #276678;
    /*border: 0px solid white;*/
}
.SignIn .btn_Forgot_your_Pass{
    white-space: nowrap;
    text-align: center;
    position: relative;
    top: 240px;
    left: -760px;
    font-family: "Montserrat", sans-serif;
    border: 0px solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.SignIn .btn_Forgot_your_Pass:hover{
    color: #276678;
    /*background-color: #F6F5F5;*/
    outline: none;
    /*border: 0px solid white;*/
}
.SignIn .btn_login:hover {
    opacity: 1;/* Firefox */
}
/*--- Για την είσοδο ---*/


/* Για την εγγραφή */
.SignUp {
    padding: 2% 2% 2% 2%;
    font-family: "Segoe UI";
    text-align: justify;
    font-size: 16px;
    background-color: white;
}

.SignUp .login-img {
    background-image: url("images/5.Contact-Login-Register/water-3109863_1920.jpg");
    min-height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.SignUp .container_page_register{
    padding: 20px;
    width:330px;
    height: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}
.SignUp .register{
    font-size: 20px;
    top: 17px;
    text-align: center;
    position: absolute;
    /*letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;*/
}
.SignUp .user{
    font-weight: bold;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 110px;
    left: 25px;
}
.SignUp input[type=text_name]{
    text-align: left;
    position: relative;
    top: -135px;
    left: 841px;
    width: 100000px;
    padding: 13px;
    margin: 500px  22px ;
    color: black;
    /*  background: white;
      border: 2px solid black;*/
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}
.SignUp .email_register{
    font-weight: bold;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 210px;
    left: 25px;
}
.SignUp input[type=text_email]{
    text-align: left;
    position: relative;
    top: -35px;
    left: 484px;
    width: 100000px;
    padding: 13px;
    margin: 500px  22px ;
    color: black;
    /* background: white;
     border: 2px solid black;*/
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}
.SignUp .pass1{
    font-weight: bold;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 310px;
    left: 25px;
}
.SignUp .input_pass1{
    position: relative;
    top: 65px;
    left: 125px;
    width: 100000px;
    padding: 13px;
    margin: 500px  22px ;
    color: black;
    /*background: white;
    border: 2px solid black;*/
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}
.SignUp input[type=password]:focus,input[type=text_name]:focus,input[type=text_email]:focus,input[type=pass2]:focus{
    background-color: #ddd;
    outline: none;
}

.SignUp .pass2{
    font-weight: bold;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 410px;
    left: 25px;
}

.SignUp .input_pass2{
    position: relative;
    top: 165px;
    left: -231px;
    width: 100000px;
    padding: 13px;
    margin: 500px  22px ;
    color: black;
    /*background: white;
    border: 2px solid black;*/
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}

.SignUp .btn_register {
    position: relative;
    top: 226px;
    left: -585px;
    white-space: normal;
    padding: 15px 140px;
    border-radius: 12px;
    background-color: #1687a7;
    color: white;
}
.SignUp .btn_back{
    white-space: nowrap;
    text-align: center;
    position: relative;
    top: 280px;
    left: -935px;
    font-family: "Montserrat", sans-serif;
    border: 0px solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

/*--- Για την εγγραφή ---*/

@supports (-moz-appearance:none) {
    .SignIn .container_page_login {
        position: absolute;
        top: 5%;
        right: 0px;
        margin: 20px;
        height: 600px;
        width: 350px;
        padding: 16px;
        background-color: white;
        border:1px solid #ccc;
        border-radius:10px;
        -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
        -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
        box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    }
    .SignIn input[type=text] {
        text-align: left;
        position: relative;
        top: -90px;
        left: 555px;
        width: 100000px;
        padding: 20px 30px;
        margin: 500px  22px ;
        border: none;
        color: black;
        background: #F6F5F5;
    }
    .SignIn input[type=password]{
        position: relative;
        top: -210px;
        left: 240px;
        width: 100000px;
        padding: 20px 30px;
        margin: 500px 0 22px 0;
        border: none;
        color: black;
        background: #F6F5F5;
    }
    .SignIn .btn_login{
        position: relative;
        top: 120px;
        left: -50px;
        background-color: #1687a7;
        color: white;
        padding: 20px 140px;
        font-size: 13px;
        border-radius: 12px;
    }
    .SignIn .btn_SignUp{
        top: 200px;
        left: -395px;
        position: relative;
        white-space: nowrap;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        border: 0px solid ;
        color: #1687a7;
        background-color: white;
        padding: 10px 15px;
        letter-spacing: 0.1rem;
        text-decoration: underline;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }
    .SignIn .btn_Forgot_your_Pass{
        white-space: nowrap;
        text-align: center;
        position: relative;
        top: 240px;
        left: -715px;
        font-family: "Montserrat", sans-serif;
        border: 0px solid ;
        color: #1687a7;
        background-color: white;
        padding: 10px 15px;
        letter-spacing: 0.1rem;
        text-decoration: underline;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }
    .SignUp input[type=text_name]{
        text-align: left;
        position: relative;
        top: -135px;
        left: 828px;
        width: 100000px;
        padding: 13px;
        margin: 500px  22px ;
        color: black;
        /*  background: white;
          border: 2px solid black;*/
        display: inline-block;
        border: none;
        background: #f7f7f7;
        font-family: Montserrat,Arial, Helvetica, sans-serif;
    }
    .SignUp input[type=text_email]{   text-align: left;
        position: relative;
        top: -35px;
        left: 476px;
        width: 100000px;
        padding: 13px;
        margin: 500px  22px ;
        color: black;
        /* background: white;
         border: 2px solid black;*/
        display: inline-block;
        border: none;
        background: #f7f7f7;
        font-family: Montserrat,Arial, Helvetica, sans-serif;
    }
    .SignUp .input_pass1{
        position: relative;
        top: 65px;
        left: 125px;
        width: 100000px;
        padding: 13px;
        margin: 500px  22px ;
        color: black;
        /*background: white;
        border: 2px solid black;*/
        display: inline-block;
        border: none;
        background: #f7f7f7;
        font-family: Montserrat,Arial, Helvetica, sans-serif;
    }
    .SignUp .input_pass2{
        position: relative;
        top: 165px;
        left: -229px;
        width: 100000px;
        padding: 13px;
        margin: 500px  22px ;
        color: black;
        /*background: white;
        border: 2px solid black;*/
        display: inline-block;
        border: none;
        background: #f7f7f7;
        font-family: Montserrat,Arial, Helvetica, sans-serif;
    }
    .SignUp input[type=password]:focus,input[type=text_name]:focus,input[type=text_email]:focus,input[type=pass2]:focus{
        background-color: #ddd;
        outline: none;
    }
    .SignUp .btn_back{
        white-space: nowrap;
        text-align: center;
        position: relative;
        top: 280px;
        left: -921px;
        font-family: "Montserrat", sans-serif;
        border: 0px solid ;
        color: #1687a7;
        background-color: white;
        padding: 10px 15px;
        letter-spacing: 0.1rem;
        text-decoration: underline;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }
    .SignUp .btn_register {
        position: relative;
        top: 226px;
        left: -575px;
        white-space: normal;
        padding: 15px 140px;
        border-radius: 12px;
        background-color: #1687a7;
        color: white;
    }
    .SignIn .container_page_login {
        position: absolute;
        top: 5%;
        right: 0px;
        margin: 20px;
        height: 600px;
        max-width: 347px;
        padding: 16px;
        background-color: white;
        border:1px solid #ccc;
        border-radius:10px;
        -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
        -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
        box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    }
}