.page_user{
    padding: 1% 10% 1% 10%;
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_img {
    float: right;
    display: block;
}

.special{
    color: #276678;
    font-size: 30px;
}

.mydata {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Πίνακας */
.table_button {
    float: right;
    padding: 6px 10px;
    margin: 4px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.table_button:active {
    transform: translateY(4px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1687a7;
    color: white;
}
.keno {
    width: 40px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.page_user .table_page {
    text-align: center;
    padding: 6px;
}
/*--- Πίνακας ---*/

@media screen and (max-width: 800px) {
    .page_user {
        background-color: white;
        padding: 1% 2% 1% 2%;
    }
    td, th {
        font-size: 14px;
        padding: 4px;
    }
}

@media screen and (max-width: 800px) {
    .profile_img{
        width: 100%;
        padding-bottom: 20px;
    }
    .centered {
        top: 87%;
    }
}