/* Για το Ήξερες ότι... */
.did-you-know-that {
    padding: 2% 16% 2% 16%;
    text-align: justify;
    background-color: white;
    display: inline-block;
}
.did-you-know-that  ul {
    padding: 2%;
    text-align: justify;
}
.did-you-know-that  li {
    font-weight: bold;
    font-size: 22px;
}

@media screen and (max-width: 1500px) {
    .did-you-know-that  li {
        font-size: 18px;
    }
}

.did-you-know-that  img {
    float: right;
    margin: 10px 0 10px 20px;
    width: 40%;
}

@media screen and (max-width: 800px) {
    .did-you-know-that {
        padding: 2% 4% 2% 4%;
    }
    .did-you-know-that  img {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2px 2px 2px 2px;
    }
}
/*--- Για το Ήξερες ότι... ---*/