/* Για τις Δράσεις */
/*
.containerAction {
    display: flex;
    align-items: center;
    justify-content: center;
}
 */

titlesInPages h2 {
    padding: 2%;
    background-color: #d4fafa;
    font-family: "Segoe UI", serif;
    color: #1f5362;
    font-size: 55px;
    margin-top: 0;
    background-image: url("images/dolphin-203875_1920.jpg");
    height:20%;
}

.actionIntro {
    background-color: lightblue;
    height: auto;
    text-align: justify;
    padding: 1% 18% 1% 18%;
    font-size: 20px;
    margin-bottom: -3%;
    /*
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: lightblue;
     */
}
/*
.action {
    background-color: white;
    height: auto;
    margin-top:3%;
    text-align: justify;
    padding: 2%;
}


.action.containerAction.text p {
    text-align: justify;
}
*/


.buttonJoinActions {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 2%;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.buttonJoinActions:active {
    background-color: #3e8e41;
    transform: translateY(4px);

}

h3 {
    margin-top: 0;
    color: #1f5362;
    font-size: 32px;
}

.smallImage {
    /*text-align: right;*/
    display: inline;
    float: left;
    margin: 0;
}

/* 21/4/2021*//*
.text {
    /*font-size: 20px;
    padding-left: 2%;
}
*/

.action {
    background-color: white;
    padding: 1% 2% 1% 2%;
    font-size: 16px;
    margin-top:3%;
}

.action * {
    box-sizing: border-box;
}

.action_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .column {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .image {
    width: 30%;
    padding: 1% 0 1% 0;
}

.action .text {
    width: 55%;
    padding: 0 2% 0 2%;
}

.action .text p {
    text-align: justify;
}

.action .button {
    width: 15%;
}

.action .image img {
    width: 100%;
    height: auto;
}

.action_row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .actionIntro {
        padding: 1% 4% 1% 4%;
        font-size: 20px;
        margin-bottom: -10%;
    }
    .action {
        margin-top:10%;
    }
    .action_row {
        display: unset;
    }
    .action_row .column {
        width: 100%;
    }
    .column .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*
@media screen and (max-width: 800px) {
    article .actionIntro {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2px 2px 2px 2px;
    }
}

@media screen and (max-width: 800px) {
    article .action img {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    article .action .text {
        width: 100%;
    }
    article .action .text {
        padding-left: 0;
    }
}

 */