/* Για το Ήξερες ότι... */
.did-you-know-that {
    padding: 2% 16% 2% 16%;
    font-family: "Segoe UI";
    text-align: justify;
    font-size: 16px;
    background-color: #d4fafa;
}
.did-you-know-that  ul {
    padding: 2%;
    font-family: "Segoe UI";
    text-align: justify;
    font-size: 16px;
    background-color: #d4fafa;
}
.did-you-know-that  li {
    font-family:"Calibri";
    font-size: 18px;
    font-weight: bold;
}

.did-you-know-that  img {
    float: right;
    margin: 10px 20px 10px 20px;
    width: 40%;
}

@media screen and (max-width: 800px) {
    .did-you-know-that  img {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2px 2px 2px 2px;
    }
}

/*--- Για το Ήξερες ότι... ---*/

.topnav {
    overflow: hidden;
    background-color: #1687a7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav a {
    float: left;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #1687a7;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #1687a7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #1687a7;
}

.dropdown-content a:hover {
    background-color: #1687a7;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav .icon, .topnav .title_menu {
    display: none;
}

@media screen and (max-width: 1500px) {
    .topnav a {
        font-size: 16px;
        padding: 14px 16px;
    }

    .dropdown .dropbtn {
        padding: 14px 16px;
        font-size: 16px;
    }

    .dropdown-content {
        box-shadow: 0 8px 16px 0 #1687a7;
    }
}

@media screen and (max-width: 800px) {
    .topnav a, .dropdown .dropbtn, .topnav .search-box {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        z-index: 9999;
    }
    .topnav .title_menu {
        position: absolute;
        display: block;
        width: 80%;
        left: 10%;
        top: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: white;
        font-size: 40px;
        font-family: "Brush Script MT";
    }
}

@media screen and (max-width: 800px) {
    .topnav {
        overflow: hidden;
        background-color: #1687a7;
        display: inherit;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav.responsive .search-box {
        display: flex;
    }
    .topnav.responsive .title_menu {
        display: none;
    }
}