/*Για τπ προγιλ του χρηστη*/
.page_user{
    padding: 2% 16% 2% 16%;
    background-color: white;
}

.txt_img{
    float: right;
}
.sortingButton{
    float: right;
    background-color: #1687a7;
    color: white;
    padding: 8px 17px;
    border-radius: 12px;
}

.special{
    color: #276678;
    font-size: 30px;
}
table {
    border-spacing: 0;
    width: 100%;
    border: 4px solid #1687a7;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th, td {
    text-align: left;
    font-size: 18px;
    padding: 2%;
}
th {
    cursor: pointer;
    background-color: #1687a7;
}

.profile_img {
    float: right;
    display: block;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    .profile_img{
        width: 100%;
        padding-bottom: 20px;
    }

    .sortingButton{
        position: relative;
        right: 0%;
        background-color: #1687a7;
        color: white;
        padding: 8px 17px;
        border-radius: 12px;
    }

    .centered {
        top: 87%;
    }
}