/* Για το background video της αρχικής */
.home-page-title {
    position: relative;
    height:300px;
    width:100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: serif;
    justify-content: center;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

#myVideo {
    position: fixed;
    top: -200px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -1;
}
/*--- Για το background video της αρχικής ---*/

/* Για τα κείμενα της αρχικής σελίδας */
.home_articles {
    padding: 2% 10% 2% 10%;
    background-color: white;
}

.home_articles * {
    box-sizing: border-box;
}

.home_articles .column {
    float: left;
}

.home_articles .left {
    width: 30%;
}

.home_articles .right {
    width: 70%;
    padding-left: 2%;
}

.home_articles .left2 {
    width: 75%;
    padding-right: 2%;
}

.home_articles .right2 {
    width: 25%;
}

.home_articles .row:after {
    content: "";
    display: table;
    clear: both;
}

.home_articles img {
    max-width: 100%
}

@media screen and (max-width: 800px) {
    .home_articles {
        padding: 1.2%;
    }
    .home_articles .column {
        width: 100%;
    }
    .home_articles .right {
        padding: 1% 2% 1% 2%;
    }

    .home_articles .left2 {
        padding: 1% 2% 1% 2%;
    }
}

/*
.home_articles img {
    float: left;
    margin: 0 2% 1% 1%;
    width: 30%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .home_articles img {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2px 2px 2px 2px;
    }
}
 */

/*--- Για τα κείμενα της αρχικής σελίδας ---*/

/* Για τα sections με τα ρητά */
.section {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: white;
    /*background-image: url("images/1.Home/turtle.jpg");
    background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: 100% 100%;
}
/*--- Για τα sections με τα ρητά ---*/

/* Για την gallery */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 500px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent, #0004);
}
.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .box span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    }
}

/*--- Για την gallery ---*/