/* Για το Contact */
.contact {
    padding: 2% 16% 2% 16%;
    font-size: 16px;
    background-color: white;
}

.contact * {
    box-sizing: border-box;
}

.contact input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #1687a7;
    color: #1f5362;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact input[type=text], select {
    width: 40%;
}

.contact textarea {
    width: 100%;
}

.contact input[type=submit] {
    background-color: #1f5362;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contact input[type=submit]:hover {
    background-color: #1687a7;
}

@media screen and (max-width: 800px) {
    .contact input[type=text], select {
        width: 100%;
    }
    .contact {
        padding: 2% 6% 2% 6%;
    }
}
/*--- Για το Contact ---*/

/* Για την είσοδο */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.SignIn {
    padding: 2% 2% 2% 2%;
    text-align: justify;
    font-size: 16px;
    background-color: white;
}
.SignIn .login-img {
    background-image: url("images/5.Contact-Login-Register/Login_sup.jpg");
    min-height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.SignIn .container_page_login {
    text-align: center;
    position: absolute;
    top: 5%;
    right: 0;
    margin: 20px;
    height: 550px;
    max-width: 370px;
    padding: 16px;
    background-color: white;
    border:1px solid #ccc;
    border-radius:10px;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}
.SignIn .login{
    color: #1687a7;
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 60px;
    font-weight: bold;
}
.SignIn .email{
    position: absolute;
    top: 23%;
    font-size: 25px;
}
.SignIn .pass{
    position: absolute;
    top: 43%;
    font-size: 25px;
}
.SignIn input[type=text] {
    position: absolute;
    top: 31%;
    background: #F6F5F5;
    border: none;
    color: black;
    padding: 20px 30px;
}
.SignIn input[type=password]{
    position: absolute;
    top: 51%;
    background: #F6F5F5;
    border: none;
    color: black;
    padding: 20px 30px;
}
.SignIn input[type=text]:focus {
    background-color: #ddd;
    outline: none
}
.SignIn input[type=password]:focus{
    background-color: #ddd;
    outline: none
}
.SignIn .btn_login{
    position: absolute;
    top: 65%;
    background-color: #1687a7;
    color: white;
    cursor: pointer;
    padding: 20px 140px;
    border-radius: 12px;
}
.SignIn .btn_login:hover{
    background-color: #276678;
}
.SignIn .btn_SignUp{
    position: relative;
    top: 80%;
    white-space: nowrap;
    text-align: center;
    border: 0 solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.SignIn .btn_SignUp:hover{
    outline: none;
    color: #276678;
}
.SignIn .btn_Forgot_your_Pass{
    position: relative;
    top: 80%;
    white-space: nowrap;
    text-align: center;
    border: 0 solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.SignIn .btn_Forgot_your_Pass:hover{
    color: #276678;
    outline: none;
}
/*--- Για την είσοδο ---*/

/* Για την εγγραφή */
.SignUp {
    padding: 2% 2% 2% 2%;
    background-color: white;
}
.SignUp .login-img {
    background-image: url("images/5.Contact-Login-Register/Register_beach.jpg");
    min-height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.SignUp .container_page_register{
    text-align: left;
    padding: 20px;
    width:315px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}
.SignUp .register{
    font-size: 20px;
    top: 5%;
    text-align: center;
    position: absolute;
    color: #1687a7;
}
.SignUp .user{
    position: absolute;
    font-size: 15px;
    top: 15%;
    color: black;
}
.SignUp input[type=text_name]{
    position: absolute;
    text-align: left;
    top: 20%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .email_register{
    position: absolute;
    font-size: 15px;
    top: 30%;
    color: black;
}
.SignUp input[type=text_email]{
    position: absolute;
    text-align: left;
    top: 35%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .pass1{
    position: absolute;
    font-size: 15px;
    top: 45%;
    color: black;
}
.SignUp .input_pass1{
    position: absolute;
    text-align: left;
    top: 50%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp input[type=password]:focus,input[type=text_name]:focus,input[type=text_email]:focus,input[type=pass2]:focus{
    background-color: #ddd;
    outline: none;
}
.SignUp .pass2{
    position: absolute;
    font-size: 15px;
    top: 60%;
    color: black;
}
.SignUp .input_pass2{
    position: absolute;
    text-align: left;
    top: 65%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .btn_register {
    position: absolute;
    cursor: pointer;
    top: 75%;
    padding: 15px 130px;
    border-radius: 12px;
    background-color: #1687a7;
    color: white;
}
.SignUp .btn_back{
    position: absolute;
    white-space: nowrap;
    text-align: center;
    top: 85%;
    border: 0 solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
/*--- Για την εγγραφή ---*/