/* Για την εγγραφή */
.SignUp {
    padding: 2% 2% 2% 2%;
    background-color: white;
}

.SignUp .login-img {
    background-image: url("../images/5.Contact-Login-Register/Register_beach.jpg");
    min-height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.SignUp .container_page_register{
    text-align: left;
    padding: 20px;
    width:315px;
    height: 750px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}
.SignUp .register{
    font-size: 22px;
    top: 2%;
    text-align: center;
    position: absolute;
    color: #1687a7;
}

.SignUp .necessary {
    top: 4.5%;
    text-align: left;
    color: red;
    position: absolute;
    font-size: 13px;
}

.SignUp .user{
    position: absolute;
    font-size: 15px;
    top: 10%;
    color: black;
}
.SignUp input[name="username"]{
    position: absolute;
    text-align: left;
    top: 13%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .email_register{
    position: absolute;
    font-size: 15px;
    top: 23%;
    color: black;
}
.SignUp input[type=email]{
    position: absolute;
    text-align: left;
    top: 26%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .first_name{
    position: absolute;
    font-size: 15px;
    top: 36%;
    color: black;
}
.SignUp input[name="first_name"]{
    position: absolute;
    text-align: left;
    top: 39%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .last_name{
    position: absolute;
    font-size: 15px;
    top: 49%;
    color: black;
}
.SignUp input[name="last_name"]{
    position: absolute;
    text-align: left;
    top: 51%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .pass1{
    position: absolute;
    font-size: 15px;
    top: 61%;
    color: black;
}
.SignUp .input_pass1{
    position: absolute;
    text-align: left;
    top: 64%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .pass2{
    position: absolute;
    font-size: 15px;
    top: 74%;
    color: black;
}
.SignUp .input_pass2{
    position: absolute;
    text-align: left;
    top: 77%;
    padding: 13px;
    color: black;
    border: none;
    background: #f7f7f7;
}
.SignUp .btn_register {
    position: absolute;
    cursor: pointer;
    top: 86.5%;
    padding: 15px 130px;
    border-radius: 12px;
    background-color: #1687a7;
    color: white;
}
.SignUp .btn_back{
    position: absolute;
    white-space: nowrap;
    text-align: center;
    top: 93%;
    border: 0 solid ;
    color: #1687a7;
    background-color: white;
    padding: 10px 15px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.SignUp input[type=password]:focus,input[type=text_name]:focus,input[type=text_email]:focus,input[type=pass2]:focus{
    background-color: #ddd;
    outline: none;
}

.match {
    position: absolute;
    top: 83.5%;
    left: 30px;
    width: 100%;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}

.necessary_fields {
    color: red;
}
/*--- Για την εγγραφή ---*/